/* Start Variables*/
:root {
  --main-color: #3aa3db;
  --secondary-color: #f1a31d;
  --section-padding: 60px;
  --body-color: #ffffff;
  --text-color: #000000;
  --text-color2: #888888;
  --search-text: #010718;
}
/* End Variables*/
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

html {
  font-family: "Cairo", sans-serif;
  scroll-behavior: smooth;
}
.header {
  display: flex;
  align-items: center;
  align-content: center;
  justify-content: space-between;
  padding: 0px 300px 0px 320px;
  background-color: var(--body-color);
  box-shadow: 0 2px 100px rgba(0, 0, 0, 0.1);
  position: relative;
}
.logo img {
  height: 73px;
  width: 150px;
  margin-top: 13px;
}
.nav-bar {
  display: flex;
  align-items: center;
  align-content: center;
  /* margin-left: 300px; */
  /* position: relative; */
}

.nav-bar li {
  list-style: none;
  padding: 0px 20px;
  position: relative;
}
.nav-bar li a {
  text-decoration: none;
  color: var(--text-color);
  font-weight: bolder;
  transition: 0.2s ease;
}
.home-nav {
  color: var(--main-color) !important;
  font-weight: bolder;
}
.nav-bar a:hover,
.nav-bar a.active {
  color: var(--main-color) !important;
  font-weight: bolder;
}
.nav-bar a.active::after,
.nav-bar a:hover::after {
  content: "";
  width: 20%;
  height: 2px;
  background-color: var(--main-color);
  position: absolute;
  bottom: -5px;
  left: 36px;
}
.main-section {
  width: 95vw;
  display: flex;
  padding: 50px 300px 50px 80px;
  align-content: center;
  position: relative;
}
.main-setion-text {
  width: 40vw;
  padding: 65px 0px;
}
.main-setion-text h2 span {
  color: var(--secondary-color);
}
.first-address {
  font-weight: 400;
}
.main-setion-text p {
  line-height: 1.6;
  color: var(--text-color2);
}
.img-main-section {
  width: 58vw;
  height: 50px;
}
.img-main-section img {
  width: 100%;
  height: 400px;
}
button {
  background-color: var(--main-color);
  color: var(--body-color);
  border: 1px solid var(--main-color);
  transition-duration: 0.4s;
  border-radius: 6px;
  padding: 10px 32px;
  text-align: center;
  text-decoration: none;
  font-size: 16px;
  font-weight: bolder;
  margin: 4px 2px;
  cursor: pointer;
}
button:hover {
  box-shadow: 0 3px 15px 0 rgba(0, 0, 0, 0.2);
}
.button-1 {
  background-color: transparent !important;
  color: var(--main-color) !important;
}
.button-1:hover {
  background-color: var(--main-color) !important;
  color: var(--body-color) !important;
}
/* sec2 */
.about-us {
  display: flex;
  flex-direction: column;
  align-items: center;
  align-content: center;
}
.circle {
  width: 100%;
  align-content: center;
  text-align: center;
  margin-left: 75px;
}
.circle img {
  position: absolute;
  width: 180px;
  height: 70px;
  margin: 0px -50px 0px 0px;
}
.circle h4 {
  position: relative;
  margin-right: 75px;
  top: 7px;
  /* max-width: 99%; */
}
.section-2 {
  width: 70%;
}
.section-2 p {
  max-width: 90%;
  font-size: 21px;
  font-weight: 300;
  text-align: center;
  margin: 25px auto 0px auto;
}
.secton-2-img {
  display: flex;
  flex-direction: row;
  align-items: center;
  align-content: center;
  flex-wrap: wrap;
  justify-content: center;
}
.secton-2-img img {
  width: 420px;
  height: 100%;
  border-radius: 12px;
  margin: 55px 12px 10px 0px;
}
.section-2 button {
  width: 150px;
  height: 45px;
  margin: 25px auto 25px auto;
  display: flex;
}
/* sec3 */
.our-serves {
  margin: 40px auto 0px auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  align-content: center;
  cursor: default;
}

.section-3 {
  width: 70%;
}
.section-3 p {
  max-width: 90%;
  font-size: 21px;
  font-weight: 300;
  text-align: center;
  margin: 25px auto 0px auto;
}
.secton-3-card {
  display: flex;
  flex-direction: row;
  align-items: center;
  align-content: center;
  flex-wrap: wrap;
  justify-content: center;
}
.secton-3-card div {
  padding: 50px 0px 0px 0px;
  text-align: center;
  width: 420px;
  height: 290px;
  border-radius: 12px;
  margin: 55px 12px 10px 0px;
  box-shadow: 0 3px 15px 0 rgba(0, 0, 0, 0.1);
}
.secton-3-card div i {
  color: var(--main-color);
  font-size: 40px;
}

.secton-3-card div p {
  font-weight: 300;
  font-size: 20px;
}
.section-3 button {
  width: 150px;
  height: 45px;
  margin: 25px auto 25px auto;
  display: flex;
}
.secton-3-card div:hover {
  background-color: var(--secondary-color);
  color: var(--body-color);

  box-shadow: 0 3px 15px 0 rgba(0, 0, 0, 0.1);
}
.secton-3-card div:hover i {
  color: var(--body-color);
}
/* section 4 */
.our-project {
  background-image: url(../img/background.jpg);
  height: 250px;
  width: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  /* justify-content: space-around; */
  align-items: center;
  color: var(--body-color);
  text-align: center;
  position: relative;
  justify-content: center;
}
.our-project div {
  padding: 1px 30px;
}
.our-project i {
  color: var(--secondary-color);
  background-color: var(--body-color);
  padding: 30px;
  border-radius: 360%;
  font-size: 40px;
}
.our-project h2 {
  margin-top: 3px;
  margin-bottom: 0px;

}
.our-project h6 {
  margin-top: 4px;

}
/* section 5 */
.card-our-work{
display: flex;
margin: 50px;
text-align: center;
width: 75vw;
}
.card-our-work div{
  margin: 0px 0px 0px 0px;
  padding: 0px 0px 0px 0px;

}
.card-our-work i {
  font-size: 35px;
  background-color: var(--main-color);
  color: var(--body-color);
  padding: 20px;
border-radius: 12px;
}
.card-our-work img {
  padding-bottom: 20px;
}
.arrow{
  height: 120px;
  width: 120px;
  position: relative;
  bottom: 25px;
  margin: 0px -20px 0px -20px;

}
.arrow-1{
  height: 150px;
  width: 220px;
  margin: 0px -40px 0px -40px;

}
.up{
  position: relative;
  bottom: 30px;
}
/* section 6 */

.buttons{
display: flex;
text-align: center;
width: 80%;
height: 45px;
margin: 0px auto 0px auto;
justify-content: center !important;
}
.buttons button{
font-size: 13px;
font-weight: 500;
text-align: center;
justify-content: center !important;
margin: 25px 5px 25px 10px;
border: 1px transparent;
align-items: center
}
.btn-gray{
background-color:#8888886c;
color: var(--search-text);

}
.secton-6-img {
  display: flex;
  flex-direction: row;
  align-items: center;
  align-content: center;
  flex-wrap: wrap;
  justify-content: center;
}
.secton-6-img img {
  width: 420px;
  height: 100%;
  border-radius: 12px;
  margin: 55px 12px 10px 0px;
}
.secton-6-img img:hover{
  box-shadow: 0 8px 15px 0 rgba(0, 0, 0, 0.2);
  width: 421px;
  height: 100%;
  transition: 0.2s ;

}
.our-work {
  display: flex;
  flex-direction: column;
  align-items: center;
  align-content: center;
}
