/* Start Variables*/
:root {
  --main-color: #3aa3db;
  --secondary-color: #f1a31d;
  --section-padding: 60px;
  --body-color: #ffffff;
  --text-color: #000000;
  --text-color2: #888888;
  --search-text: #010718;
}
/* End Variables*/
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

/* Small */
@media (min-width: 768px) {
  .container {
    width: 750px;
  }
}
/* Medium */
@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}
/* Large */
@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}

html {
  font-family: "Cairo", sans-serif;
  scroll-behavior: smooth;
}
.header {
  display: flex;
  align-items: center;
  align-content: center;
  justify-content: space-between;
  padding: 0px 300px 0px 320px;
  background-color: var(--body-color);
  box-shadow: 0 2px 100px rgba(0, 0, 0, 0.1);
  position: relative;
}
@media (max-width: 768px) {
  .header {
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: space-between;
    padding: 0px 0px 0px 0px;
    background-color: var(--body-color);
    box-shadow: 0 2px 100px rgba(0, 0, 0, 0.1);
    position: relative;
  }
  }
  @media (max-width: 1388px) {
    .header {
      display: flex;
      align-items: center;
      align-content: center;
      justify-content: space-between;
      padding:0px 100px 0px 7px;
      background-color: var(--body-color);
      box-shadow: 0 2px 100px rgba(0, 0, 0, 0.1);
      position: relative;
    }
    }
  /* Nav Start */
  /* Style The Dropdown Button */

  .dropbtn {
    background-color: var(--main-color);
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
    display: none;
  }
  @media (max-width: 768px) {
    .dropbtn {
      background-color: var(--main-color);
      color: white;
      padding: 16px;
      font-size: 16px;
      border: none;
      cursor: pointer;
      display: block;
      margin-bottom: -52px;
      margin-top: 10px;
      margin-right: -61px;
  }
    }
    
  /* The container <div> - needed to position the dropdown content */
  .dropdown {
    position: relative;
    display: inline-block;
  }
  @media (max-width: 768px) {
    .dropdown {
      position: relative;
      display: inline-block;
    }
    }
  /* Dropdown Content (Hidden by Default) */
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  /* Links inside the dropdown */
  .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: none;
  }
  @media (max-width: 768px) {
    .dropdown-content a {
      color: black;
      padding: 12px 16px;
      text-decoration: none;
      display: block;
    }
    }
  /* Change color of dropdown links on hover */
  .dropdown-content a:hover {background-color: #f1f1f1;
  }
  
  /* Show the dropdown menu on hover */
  .dropdown:hover .dropdown-content {
    display: block;
    margin: 70px -37px -2px 1px;
  
  }
  
  /* Change the background color of the dropdown button when the dropdown content is shown */
  .dropdown:hover .dropbtn {
    background-color: var(--text-color2);
  }
  .logo img {
    height: 73px;
    width: 150px;
    margin-top: 13px;
  }
  @media (max-width: 768px) {
    .logo img {
      height: 53px;
      width: 150px;
      margin-top: 13px;
      margin-right: 120px;
    }
    }
      /* Nav end */
.nav-bar {
  display: flex;
  align-items: center;
  align-content: center;
  /* margin-left: 300px; */
  /* position: relative; */
}
@media (max-width: 768px) {
  .nav-bar {
    display: none;
  }
}
.nav-bar li {
  list-style: none;
  padding: 0px 20px;
  position: relative;
}
.nav-bar li a {
  text-decoration: none;
  color: var(--text-color);
  font-weight: bolder;
  transition: 0.2s ease;
}
.home-nav {
  color: var(--main-color) !important;
  font-weight: bolder;
}
.nav-bar a:hover,
.nav-bar a.active {
  color: var(--main-color) !important;
  font-weight: bolder;
}
.nav-bar a.active::after,
.nav-bar a:hover::after {
  content: "";
  width: 20%;
  height: 2px;
  background-color: var(--main-color);
  position: absolute;
  bottom: -5px;
  left: 36px;
}

.quta {
  box-shadow: 0 3px 30px 0 rgba(0, 0, 0, 0.19);
  width: 330px;
  height: 283px;
  margin: 75px auto 5px auto;
  text-align: center;
  display: flex;
  flex-direction: column;
  color: var(--text-color2);
  border-radius: 12px;
  transition: 0.2s all;
}
.section-7 p {
  max-width: 30%;
  font-size: 21px;
  font-weight: 300;
  text-align: center;
  margin: 0px auto 0px auto;
}

.quta h2 {
color: var(--main-color);
}
.quta:hover h2 {
  color: var(--body-color);
  }
@media (max-width: 768px) {
  .section-7 p {
    max-width: 87%;
    
  }
}
.circle h4{
  color: var(--main-color);
  font-size: 40px;

}
.quta h1 {
  margin: 10px 0px 0px 0px;
  color: #000000;
}
.quta:hover h1 {
  color: var(--body-color);
  }
.quta h3 {
  margin: 20px 0px 0px 0px;
  text-decoration: line-through;
  color: #FF0000;
}

.quta h5 {
  margin: -13px 0px 0px 0px;
  font-weight: 500;
}
@media (max-width: 768px) {
  .quta h1 {

  }
}
.quta ul li {
  font-size: 14px;
  margin: 0px -20px 18px auto;
  width: 100%;
  list-style: none;
      text-align: right;
}
@media (max-width: 768px) {
  .quta ul li {
    font-size: 12px;
    margin: 0px -20px 18px auto;
    width: 100%;
    list-style: none;
        text-align: right;
  }
}
.quta ul li i{
  margin: 0px 0px 0px 10px;
}

.quta button{
  border-radius: 10px;
  text-align: center;
  width: 150px;
  background-color: var(--text-color2);
  border: 2px solid transparent;
  color: var(--body-color);
  background-color: var(--main-color);
}

.quta:hover{
  background-color: var(--secondary-color);

  color: var(--body-color);
}
.quta:hover button{
  box-shadow: 0 3px 30px 0 rgba(0, 0, 0, 0.19);
  color: var(--main-color);
  background-color:var(--body-color);
}
.quta:hover i{
  color: var(--main-color);
}
/* section 8 */

.footer footer{
  display: flex;
  flex-direction: row;
  justify-content: center;
  box-shadow: 0 2px 100px rgba(0, 0, 0, 0.1);
margin-bottom: 0;
}
@media (max-width: 768px) {
  .footer footer{
    display: none;
    flex-direction: row;
    justify-content: center;
    box-shadow: 0 2px 100px rgba(0, 0, 0, 0.1);
  margin-bottom: 0;
  }
}
.footer-logo{
width: 30%;
margin: 10px 100px 0px 0px;
}
@media (max-width: 768px) {
  .footer-logo{
   display: none;;
    };
  }

.footer-logo p{
margin: -20px 0px 0px 0px;

}
.fast-link{
  width: 50%;
}
.fast-link nav-footer{
  display: flex;
  flex-direction: column !important;
}

footer h5{
  text-align: center;
  color: var(--main-color);
  margin: 40px 0px 0px 0px;
}
footer .con-us {
  text-align: start;
  color: var(--main-color);
  margin: 40px 50px 00px 0px;
}
.fast-link .nav-footer li {
  list-style: none;
  padding: 5px 0px;
  margin: 0px 0px 0px 47px;

  text-align: center;
}
.fast-link .nav-footer li a {
  text-decoration: none;
  color: var(--text-color);
  font-weight: bolder;
  transition: 0.2s ease;
  padding: 0px 0px;

}
.contect-us{
  width: 30%;
}
.addres div{
text-align: start;
margin: -10px 0px 0px 0px;
}
.addres h6{
margin: 30px 0px 0px 0px;

}
.addres div i{
display: inline-block;
margin-left: 10px;
color: var(--secondary-color);
}
.addres div h6 {
  display: inline-block;
  }
.footer-last{
  background: var(--main-color);
  margin: 0 auto;
  padding-top: 12px;
  padding-bottom: 40px;
  height: 35px;
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
}
.footer-last h5{
  margin-top: 50px;
  color: var(--body-color);
}
.footer-last span a{
  color: var(--secondary-color);
  text-decoration: none;
}

