html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

* {
  font-family: "Cairo", sans-serif;
  margin: 0;
}
body {
  background-image: url(https://taleek.com/img/bg-layer.svg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: right;
  width: 100%;
  height: 1049px;
  background-color: black;
}

nav {
  /* border: 4px solid blue; */
  display: flex;
  justify-content: space-around;
  /* margin: 10px; */
  flex-wrap: wrap;
  padding-top: 10px;
}
.logo-main {
  display: flex;
  position: relative;
  /* border: 4px solid blue; */
  width: 50%;
  left: 120px;
}

.logo-main p {
  /* border: 4px solid blue; */

  position: relative;
  /* top: 13px; */
  right: -20px;
}

nav .link {
  /* border: 4px solid blue; */
  text-decoration: none;
  list-style: none;
  color: white;
  display: flex;
  position: relative;
  top: 15px;
  width: 50%;
  /* right: -50px; */
}
@media (max-width: 1200px) {
  nav .link {
    right: -39px;
  }
}

.li1 {
  opacity: 0.5;
}
.li1:hover {
  opacity: 1;
}

nav .link a {
  text-decoration: none;
  margin: 10px 20px 10px 10px;
  list-style: none;
  color: white;
  display: block;
}
@media (max-width: 1200px) {
  nav {
    display: block;
  }
}

.logo {
  width: 50px;
  height: 50px;
  margin-top: 6px;
  margin-right: 4px;
}
nav p {
  color: white;
  font-size: 30px;
  margin-left: 3px;
  margin-top: 3px;
}
main {
  /* border: 4px solid blue; */
  display: flex;
  width: 100%;
}
.s1 {
  /* border: 4px solid blue; */
  height: 600px;
  display: flex;
  width: 100%;
  justify-content: center;
  /* margin-left: auto; */
  /* margin-right: auto; */
}
.h1 {
  text-align: center;
  font-size: 50px;
  color: white;
  font-weight: bolder;
  margin-top: 20px;
  transition: all 1s;
  animation: h1 4s infinite linear;
}

@keyframes h1 {
  0% {
    transform: translate(0, 0);
    letter-spacing: 1px;
  }
  50% {
    transform: translate(0, 0);
    letter-spacing: 6px;
  }
  100% {
    transform: translate(0, 0);
    bletter-spacing: 1px;
  }
}

@media (max-width: 1200px) {
  .h1 {
    text-align: center;
    /* margin-top: 37px; */
  }
}
.s1 img {
  width: 600px;
  height: 322px;
  animation: svg 4s infinite linear;
}

@keyframes svg {
  0% {
    transform: translate(0, 0);
    width: 380px;
  }
  50% {
    transform: translate(0, 0);
    width: 411px;
  }
  100% {
    transform: translate(0, 0);
    width: 380px;
  }
}

@media (max-width: 1200px) {
  .s1 img {
    width: 380px;
  }
}
.s2 {
  /* border: 4px solid blue; */
  width: 20%;
  height: 200px;
  position: absolute;
  top: 509px;
  display: flex;
  left: 12px;
  justify-content: center;
}
@media (max-width: 1200px) {
  .s2 {
    width: 20%;
    height: 200px;
    position: absolute;
    top: 651px;
    display: flex;
    left: 163px;
    justify-content: center;
  }
}
button {
  transition: all 1s;
  animation: but 2s infinite;
  all: unset;
  background-color: orangered;
  padding: 30px 80px 30px 80px;
  border-radius: 12px;
  width: 70px;
  margin-left: auto;
  margin-right: auto;
  position: absolute;
  top: 96px;
  right: 55px;
  display: flex;
  transition: all 1s;
  animation: but 3.5s infinite;
}

@keyframes but {
  0% {
    transform: translate(0, 0);
    border-radius: 12px;
  }
  50% {
    transform: translate(0, 0);
    border-radius: 36px;
  }
  100% {
    transform: translate(0, 0);
    border-radius: 12px;
  }
}

@media (max-width: 1200px) {
  button {
    background-color: orangered;
    padding: 30px 80px 30px 80px;
    border-radius: 12px;
    width: 70px;
    margin-left: auto;
    margin-right: auto;
    position: absolute;
    top: 96px;
    display: flex;
    right: -75px;
  }
}
.s2 img {
  width: 271px;
  height: 90px;
}
.footer img {
  /* border: 4px solid blue; */
  /* width: 100%; */
  /* height: 100px; */
  /* top: 182px; */
  /* bottom: -50px; */
  /* margin-left: auto; */
  /* margin-right: auto; */
  /* position: relative; */
  /* justify-content: center; */
}

footer {
  background-color: rgb(241, 242, 247);
  min-height: 100px;
  display: flex;
  flex-wrap: wrap;
}
header {
  padding-bottom: 20px;
  border-radius: 25px;
  background-color: white;
  margin: -20px auto 0px auto;
  font-size: 80px;
  width: 100%;
  height: 100px;
  color: #16384c;
  animation: hed 5s infinite;
  border-radius: 12px;
}

footer header:hover {
  background-color: #16384c;
  color: white;
  cursor: pointer;
}
footer img {
  height: 280px;
  width: 280px;
  position: absolute;
  left: 25px;
  top: -78px;
  transition: all 0.8s;
  border-radius: 14px;
}
footer section:hover img {
  border-radius: 50%;
  top: -158px;
  transform: rotate(720deg);
  transition: all 0.8s;
}
footer section {
  background-color: white;
  height: 400px;
  width: 320px;
  margin: 143px auto 76px auto;
  position: relative;
  font-family: sans-serif;
  border-radius: 14px;
  text-align: center;
  font-size: 14px;
  font-weight: 700;
}
footer .section:hover {
  padding: 30px 0px 0px 0px;
  height: 410px;
}
footer .p {
  opacity: 0;
  position: relative;
  top: 150px;
}
footer section:hover .p {
  padding: 40px 0px 0px 0px;
  opacity: 1;
  transition: all 0.8s;
}
@keyframes hed {
  0% {
    transform: translate(0, 0);
    border-radius: 25px 25px 80px 80px;
    padding-bottom: 45px;
  }
  40% {
    transform: translate(0, 0);
    border-radius: 25px 25px 15px 15px;
    padding-bottom: 20px;
  }
  100% {
    transform: translate(0, 0);
    border-radius: 25px 25px 80px 80px;
    padding-bottom: 45px;
  }
}
.logo-footer {
  background-color: #152035;
  height: 222px;
  width: 100%;
  margin-top: -12px;
  display: flex;
  justify-content: center;
}
.center {
  display: flex;
  width: 50%;
  align-items: center;
  justify-content: center;
}

.logo-footerch {
  height: 65px;
  width: auto;
  margin-right: 0.5rem;
  color: white;
  right: 18px;
  position: relative;
}
.logo-footer a {
  text-decoration: none;
  color: white;
}
.center h3 {
  color: white;
  font-size: 30px;
  margin-top: 10px;
  margin-right: 10px;
}

.foot p {
  width: 100%;
  background-color: #0a1121;
  margin-top: -15px;
  padding-left: 10px;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  border-radius: 3px;
}
